/* Global */
* {
 margin: 0;
 margin: 0;    
}

/* applies to the body */
body {
    color: black;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    float: center;
    width: 100%;
}
/*applies to the header */
header {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    top: 0;
    
    
}

header a {
    text-decoration: none;
    color: black;
    font-size: 15px;  
}

header h1 {
    font-size: 30px;
    color: black;
    font-weight: bold;
    float: center;
    margin: 80px 240px;
    padding: 150px;
    position: relative;
    flex: wrap;
    display: flex;
    width: 50%;
    
}
header nav {
    margin: -570px -380px 200px -220px;
    padding: 95px; 
    width: 110%;
    position: sticky;
    position: -webkit-sticky;
    
}

header nav ul {
   list-style-type: none; 
   display: flex;
   flex: wrap;
   justify-content: space-between;
   align-items: center;
   margin: 0;
   padding: 0;

   
}

header nav ul li {
    padding: 0px 150px;
    display: inline-block;
    list-style-type: none;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}

header nav ul li a {
    display: block;   
}

/* applies to the section */
section {
    font-size: 13px;
    font-weight: bolder;
    float: center;
    text-align: center;
  
}



.description {
        margin: -220px 350px;
        
}

.description p {
    text-align: center;
}

.description div {
    margin: 0px -100px;
    cursor: pointer;
}

#start {
    background-color: blue;
    cursor: pointer;
    border: black;
    color: black;
    
}
 .Btn {
    margin: 70px  240px 155px 240px;
    cursor: pointer;
    border: 3px;
    width: 100%;
    padding: 5px;
}

.Btn:hover {

    color: black;
}



#submit {
    margin: 225px 100px 180px 350px;
}
@media screen and (max-width: 980px) {
    header {
        width: 100%;
        float: center;
    }

    header h1 {
        font-size: 25px;
        width: 90%;
        float: center;
    }
    .description {
        width: 50%;
    }
    .description p {
        width: 50%;
    }

    .description div {
        width: 70%;
        margin: 10px -20px 50px -150px;
    }
    #start {
        width: 100%;
        float: center;
        margin: 16px -15px;
    
    }

    .Btn {
        margin: -20px 50px;
        width: 30%;
       
    }

    #start {
        cursor: pointer;
    }

 


}

@media screen and (max-width: 768px) {
    header {
        width: 100%;
    }

    header h1 {
        font-size: 25px;
        width: 80%;
        text-align: center;
    }


    .description p {
        margin: 10px 0px 0px -20px;
        width: 80%;
    }
    .description div {
        width: 50%;
        margin: 10px -40px 50px -185px;
    }
    #start {
        width: 80%;
        margin: -200px 250px;

    }
    .Btn {
        margin: -20px -160px;
    }
}

@media screen and (max-width: 575px) {
    header {
        width: 90%;
    }

    header h1 {
        font-size: 25px;
        width: 80%;
        margin: 40px;
    }

    .description p {
        width: 70%;
        float: center;
        text-align: center;
        margin: 10px -180px;
    }

    #start {
        width: 100%;
        margin: -50px -150px 300px -80px;

    }
    
    .Btn {
        margin: -55px;
        width: 250%;
    }
    
}